{{#if addNewPost}}
  <h1>New Post</h1>
  <div id="new">
    <form>
      <div class="form-group">
        <label for="day">Day:</label>
        {{input value=day id="day"}}
      </div>
      <div class="form-group">
        <label for="topic">Topic:</label>
        {{input value=topic id="topic"}}
      </div>
      <div class="form-group">
        <label for="sciname">Scientific Name:</label>
        {{input value=sciname id="sciname"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL:</label>
        {{input value=image id="image"}}
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        {{input value=description id="description"}}
      </div>

      <button class="btn btn-warning"{{action 'savePost1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn-lg btn-success"{{action 'postFormShow'}}>New Post</button>
{{/if}}
