<li>
  {{#link-to 'post' post.id}}{{post.day}}'s item on {{post.topic}} AKA {{post.sciname}} {{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{post.image}} alt={{post.topic}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
</li>
