<div id="details">
  {{post.day}}
  <br>
  {{post.topic}} AKA {{post.sciname}}
  <br>
  {{post.description}}
  <br>
  <p><img src={{post.image}} alt={{post.topic}}></p>

  <button class="btn btn-danger"{{action 'delete' post}}>Delete</button>
</div>
