<div id="details">
  {{post.day}}
  <br>
  {{post.topic}} AKA {{post.sciname}}
  <br>
  {{post.description}}
  <br>
  <p><img src={{post.image}} alt={{post.topic}}></p>

  <h2> Comments </h2>

  <ul>
    {{#each post.comments as |comment|}}
      {{comment-tile comment=comment destroyComment="destroyComment"}}
    {{/each}}
  </ul>

  <button class="btn btn-danger"{{action 'delete' post}}>Delete</button>
</div>
