<li>
{{post.day}} - {{post.topic}} - {{post.sciname}} - {{post.description}}
  {{#if isImageShowing }}
      <p><img src={{post.image}} alt={{post.description}} ></p>
    {{else}}
      <button {{action 'imageShow'}}>Show image</button>
    {{/if}}
</li>
